<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form action="/lists/search" method="get" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>






<h1><%= current_user.name%></h1>
<ul>
  <%= link_to "Sign Out", "/users/sign_out", method: :delete %>
</ul>


<h1>My Lists:</h1>
<% @listname.each do |listname| %>
	<p><%= link_to listname.name,"/lists/listshow/#{listname.name}/" %></p>
<% end %>
<a href="/lists/newlist">Create New List</a>

<h1>Shopping For Me</h1>
<% if @permissions.length > 0 %>
	<%= form_tag "/lists/perm_del", method: :patch do %>
		<% @permissions.each do |permissions| %>
			<label>
			<%= check_box_tag "permissions[]", permissions %>
			<%= permissions %>
			</label><br>
		<% end %>
		<%= submit_tag "Remove"%>
	<% end %>
<% else %>
	<h5>You have not given your wishlist to anyone yet</h5>	
<%end%>

<br><br><br>

<h1>People To Shop For</h1>
<%if @mylists.length > 0 %>
	<% @mylists.each do |list| %>
		<h4><%= link_to list[0], "/lists/show/#{list[1]}" %></h4>
	<% end %>
<% else %>
	<h5>You have not been given anyone's wishlists yet</h5>
<% end %>



